<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">lishmoshou511</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">true</property>

		<!--配置可使用getCurrentSession-->
		<property name="current_session_context_class">thread</property>


		<!-- 让hibernate给我们自动创建表 -->
		<!--create: 如果没有表则创建，如果有表，删除后再创建。-->
		<!--update:没有表就创建，有表并且结构没变化不再创建，结构变化了就创建。-->
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="com/lish/domain/Employee.hbm.xml"/>
		<mapping class="com.lish.domain.Worker"/>
		<mapping class="com.lish.domain.Course"/>
		<mapping class="com.lish.domain.Studcourse"/>
		<mapping class="com.lish.domain.Student"/>

		<mapping resource="com/lish/domain/Department.hbm.xml"/>
		<mapping resource="com/lish/domain/Person.hbm.xml"/>
		<mapping resource="com/lish/domain/IdCard.hbm.xml"/>
		<mapping resource="com/lish/domain/DriveCard.hbm.xml"/>

		<mapping resource="com/lish/domain/S.hbm.xml"/>
		<mapping resource="com/lish/domain/SC.hbm.xml"/>
		<mapping resource="com/lish/domain/C.hbm.xml"/>


	</session-factory>
</hibernate-configuration>